<div class="user-panel-wrapper">
    <p-panel>
        <h4 style="display: inline-block;">{{currentUser}}&nbsp;[<span>{{global.currentUserTodosCount}}</span>]</h4>
        <div class="todo-operations" style="float: right;">
            <button pButton pRipple type="button" label="Select All" class="p-button-raised p-button-text" styleClass="p-button-sm"></button>
            <button pButton pRipple type="button" label="DeSelect All" class="p-button-raised p-button-text" styleClass="p-button-sm"></button>
            <button pButton pRipple type="button" label="Delete Selected" class="p-button-raised p-button-text" styleClass="p-button-sm"></button>
        </div>
    </p-panel>
</div>
