.dashboard-main-wrapper{
    background-color: #4f1377;
    background-image: linear-gradient(315deg, #38045a 0%, #1e379c 74%);
    min-height: 100vh;
    height: auto;
}
.contents-wrapper{
    padding: 25px;
}
.todo-delete-icon:hover{
    color: rgba(0, 0, 0, 0.6);
    border-color: transparent;
    background: rgba(0, 0, 0, 0.04);
}
.user-panel-wrapper{
    padding: 6px;
}
.todo-operations{
    margin-top: -6px;
}
.todo-operations > button{
    margin-right: 5px;
}
.add-todo-wrapper > button{
    margin-top: -8px;
    margin-right: 20px;
}
.todo-build-portion{
    padding: 20px;
}
.todo-build-portion > *{
    padding: 10px;
}
.user-edit-portion > *{
    padding: 10px;
}
:host ::ng-deep p-panel{
    padding-bottom: 3px;
    margin-bottom: 10px;
}
:host ::ng-deep .todo-panel-wrapper{
    padding-bottom: 3px;
    margin-bottom: 10px;
}
.nav-pane-wrapper{
    position: sticky;
    top: 0;
    z-index: 1;
}

:host ::ng-deep .admin-content-wrapper{
    padding: 8px;
}

:host ::ng-deep .todo-table-wrapper{
    background-color: grey;
}

:host ::ng-deep .main-table-wrapper:hover{
   background-color: rgb(72, 112, 151);
   color: white;
}

:host ::ng-deep .edit-icon:hover{
    color:white;
    background-color: #4f1377;
}

:host ::ng-deep .edit-icon{
    padding:10px;
}
:host ::ng-deep .p-datatable .p-datatable-gridlines .p-datatable-header{
    border-width: 0;
}
